.header-background {
   width: 344px;
   height: 72px;
   background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), #121212;

   box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 3px 4px rgba(0, 0, 0, 0.14);
   /*border-radius: 4px;*/
  }

  .background {
   width: 344px;
   /* height: 458.55px; */
   height: 700px;

   background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #121212;

   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
   /*border-radius: 4px;*/
  }

  .pg-header {
   position: absolute;
   width: 154px;
   height: 24px;
   left: 72px;
   top: 1px;

   font-weight: 500;
   font-size: 20px;
   line-height: 24px;

   letter-spacing: 0.15px;

   color: rgba(255, 255, 255, 0.87);
  }

  .link {
   position: absolute;
   width: 77px;
   height: 20px;
   left: 72px;
   top: 29px;

   font-weight: normal;
   font-size: 14px;
   line-height: 20px;

   letter-spacing: 0.25px;

   color: rgba(255, 255, 255, 0.87);
  }

  .worse {
   position: absolute;
   width: 75px;
   height: 10px;
   left: 41px;
   top: 97px;

   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 13px;
   text-align: center;

   color: rgba(255, 255, 255, 0.6)
  }

  .moderate {
   position: absolute;
   width: 75px;
   height: 10px;
   left: 134px;
   top: 97px;

   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 13px;
   text-align: center;

   color: rgba(255, 255, 255, 0.6)
  }

  .better {
   position: absolute;
   width: 75px;
   height: 10px;
   left: 227px;
   top: 97px;

   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 13px;
   text-align: center;

   color: rgba(255, 255, 255, 0.6)
  }

  .red-bar {
   position: absolute;
   height: 1px;
   width: 94px;
   left: 32px;
   top: 127px;


   background: #EB5757;
   border-radius: 10px;
  }

  .yellow-bar {
   position: absolute;
   height: 1px;
   width: 93px;
   left: 125px;
   top: 127px;


   background: #f2c94c;
  }

  .green-bar {
   position: absolute;
   height: 1px;
   width: 94px;
   left: 217px;
   top: 127px;


   background: #219653;
   border-radius: 10px;
  }

  .icon {
     position: absolute;
     left: 8px;
     top: 8px;
     height: 55px;
     width: 55px;
  }

  .split-line-1 {
   position: absolute;
   height: 1px;
   width: 344px;
   left: 0px;
   top: 150px;

   background: #FFFFFF;
   mix-blend-mode: normal;
   opacity: 0.12;
  }

  .split-line-2 {
   position: absolute;
   height: 1px;
   width: 344px;
   left: 0px;
   top: 500px;

   background: #FFFFFF;
   mix-blend-mode: normal;
   opacity: 0.12;
  }

  .limitations {
   position: absolute;
   width: 279px;
   height: 132px;
   left: 32px;
   top: 520px;

   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 146.7%;

   color: rgba(255, 255, 255, 0.6);
  }

  .limitations-bulk {
   position: absolute;
   width: 279px;
   height: 132px;
   left: 32px;
   top: 540px;

   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 146.7%;

   color: rgba(255, 255, 255, 0.6);
  }

  .text-css {
   position: absolute;
   width: 279px;
   height: 35px;
   left: 32px;
   top: 175px;

   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 146.7%;

   color: rgba(255, 255, 255, 0.6);
}
