/* Rectangle 229 */
position: absolute;
width: 344px;
height: 458.55px;
left: 1086px;
top: 85px;

/* Elevation Overlay / 01dp */

background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #121212;
/* 01 dp */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
border-radius: 4px;


/* Rectangle 230 */


position: absolute;
width: 344px;
height: 72px;
left: 1086px;
top: 85px;

/* Elevation Overlay / 03dp */

background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), #121212;
/* 03 dp */

box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 3px 4px rgba(0, 0, 0, 0.14);
border-radius: 4px;


/* action/settings */


position: absolute;
left: 95.97%;
right: 2.36%;
top: 12.11%;
bottom: 85.22%;



/* Rectangle 231 */


position: absolute;
left: 77.64%;
right: 15.9%;
top: 23.56%;
bottom: 76.33%;

/* Red */

background: #EB5757;
border-radius: 10px;


/* Rectangle 232 */


position: absolute;
left: 97.01%;
right: -3.47%;
top: 23.56%;
bottom: 76.33%;

/* Green 1 */

background: #219653;
border-radius: 10px;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 233 */


position: absolute;
left: 84.1%;
right: 9.44%;
top: 23.56%;
bottom: 76.33%;

/* Yellow */

background: #F2C94C;


/* Worse */


position: absolute;
width: 75px;
height: 10px;
left: 1127px;
top: 187px;

font-family: Gotham;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 13px;
text-align: center;

/* On Surface / Medium Emphasis */

color: rgba(255, 255, 255, 0.6);


/* Moderate */


position: absolute;
width: 75px;
height: 10px;
left: 1220px;
top: 187px;

font-family: Gotham;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 13px;
text-align: center;

/* On Surface / Medium Emphasis */

color: rgba(255, 255, 255, 0.6);


/* Better */


position: absolute;
width: 75px;
height: 10px;
left: 1313px;
top: 187px;

font-family: Gotham;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 13px;
text-align: center;

/* On Surface / Medium Emphasis */

color: rgba(255, 255, 255, 0.6);


/* Ellipse 2 */


position: absolute;
width: 7px;
height: 7px;
left: 1347px;
top: 209px;

/* Green 1 */

background: #219653;


/* 👤 Avatar */


position: absolute;
width: 40px;
left: 1102px;
top: 11.22%;
bottom: 84.33%;



/* ✏️ Subhead */


position: absolute;
width: 77px;
height: 20px;
left: 1158px;
top: 124px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

letter-spacing: 0.25px;

/* On Surface / High Emphasis */

color: rgba(255, 255, 255, 0.87);


/* ✏️ Header */


position: absolute;
width: 154px;
height: 24px;
left: 1158px;
top: 99px;

/* Headline 6 */

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.15px;

/* On Surface / High Emphasis */

color: rgba(255, 255, 255, 0.87);


/* ➖Divider */


position: absolute;
left: 75.42%;
right: 0.69%;
top: 27%;
bottom: 72.89%;



/* Limitations Privacy Guardian tracks the privacy policies to the best of its ability, but even with smart technology privacy policies can hide information. What we might not be able to predict is if your personal information will be kept private from all other parties than yourself. . */


position: absolute;
width: 279px;
height: 132px;
left: 32px;
top: 169px;

font-family: Gotham;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 146.7%;
/* or 21px */


/* On Surface / Medium Emphasis */

color: rgba(255, 255, 255, 0.6);


/* Better because it: - Keeps your information private - Doesn’t track your actions - Doesn’t give you targeted ads */


position: absolute;
width: 279px;
height: 77px;
left: 32px;
top: 31px;

font-family: Gotham;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 146.7%;
/* or 21px */


/* On Surface / Medium Emphasis */

color: rgba(255, 255, 255, 0.6);


/* ➖Divider */


position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 99.67%;



/* ➖Divider */


position: absolute;
left: 0%;
right: 0%;
top: 45.85%;
bottom: 53.82%;